.main
  .home-main_header
    .home-main_header_headerInner_mainheader_icon
      = link_to image_tag("logo.png", :size => "185x50")
  .singnup-main
    .singnup-container
      .singnup-container_header 新規会員登録
      .singnup-cantainer_inner
        .inner_content
        .content_box_a
        = link_to "user_path" do
          %button.btn-default.btn-main
            %span メールアドレスで登録
            %icon.fa-envelope
        .content_box_b
        = link_to "#" do
          %button.btn-defaoult.btn-sns.btn-facebook
            %span Facebookで登録
            %i.fa-facebook-square.fa-lg.icon-facebook
        .content_box_c    
        = link_to "#" do
          %button.btn-default.btn-sns.btn-google
            %span Googleで登録
            %i.fa-google.icon-google
          

  .home-main_footer_logo
    = link_to image_tag("logo.png",:size => "90x35"),class:"img"
    .home-main_footer_content_box_a
      =link_to "プライバシーポリシー","#",class: "a"   
    .home-main_footer_content_box_b
      =link_to "FURIMA利用規約","#",class: "a"
    .home-main_footer_content_box_c
      =link_to "特定商取引に関する表記","#",class: "a"
  %p.p＠FURIMA     