.home-main
  = render "sell_header"
  .alert
    - flash.each do |key, value|
      = content_tag(:div, value, class: key)
  .home-main_mainVisual
    .home-main_mainVisual_content
      %h2.home-main_mainVisual_content_subtitle
        人生を買えるフリマアプリ
      %p.home-main_mainVisual_content_text
        FURIMAはだれでもかんたんにかんたんに出品・購入できる
        %br
        フリマアプリです
      .home-main_mainVisual_content_btn
        = link_to image_tag("app-store.svg",:size => "180x53")
        = link_to image_tag("google-play.svg",:size => "180x53")
  .home-main_topIntroduction
    %h2.home-main_topIntroduction_subtitle
      FURIMAが選ばれる３つの理由
    %ul.home-main_topIntroduction_lists
      %li.home-main_topIntroduction_lists_list
        .home-main_topIntroduction_lists_list_pict
          = image_tag 'pict-reason-01.jpg', size: "306x306"
          .home-main_topIntroduction_lists_list_pict_number
            1
        %h3.home-main_topIntroduction_lists_list_text
          .a 3分
          ですぐに出品
        %p.home-main_topIntroduction_lists_list_description
          スマホで入力するだけで簡単に出品できる！
      %li.home-main_topIntroduction_lists_list
        .home-main_topIntroduction_lists_list_pict
          = image_tag 'pict-reason-02.jpg', size: "306x306"
          .home-main_topIntroduction_lists_list_pict_number
            2
        %h3.home-main_topIntroduction_lists_list_text
          .a シンプル
          で使いやすい
        %p.home-main_topIntroduction_lists_list_description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.home-main_topIntroduction_lists_list
        .home-main_topIntroduction_lists_list_pict
          = image_tag 'pict-reason-03.jpg', size: "306x306"
          .home-main_topIntroduction_lists_list_pict_number
            3
        %h3.home-main_topIntroduction_lists_list_text
          手数料
          .a 業界最安
        %p.home-main_topIntroduction_lists_list_description
          最大3%でお得に出品&購入！
  .home-main_topMiddleDl
    .home-main_topMiddleDl_inner
      %h2.home-main_topMiddleDl_inner_subtitle
        会員数日本一位
      %p.home-main_topMiddleDl_inner_text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれなません。
      .home-main_topMiddleDl_inner_dt
        %a.a= link_to image_tag("app-store.svg",:size => "180x53")
        %a.a= link_to image_tag("google-play.svg",:size => "180x53")
  .home-main_topKeyFeatures
    %h2.home-main_topKeyFeatures_head
      FURIMAの特徴
    .home-main_topKeyFeatures_items
      .home-main_topKeyFeatures_items_item
        .home-main_topKeyFeatures_items_item_img
          = image_tag 'icon-01.png', size: "219x337", class:"img"
        %h3.home-main_topKeyFeatures_items_item_img_subtitle
          簡単に売り買いできる
        %p.home-main_topKeyFeatures_items_item_img_detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .home-main_topKeyFeatures_items_item
        .home-main_topKeyFeatures_items_item_img
          = image_tag 'icon-03.png', size: "219x337", class:"img"
        %h3.home-main_topKeyFeatures_items_item_img_subtitle
          売上金は即日振込みに対応
        %p.home-main_topKeyFeatures_items_item_img_detail
          午前９時までに振込み依頼をいただければ、、翌日に指定の口座に入金いたします！
      .home-main_topKeyFeatures_items_item
        .home-main_topKeyFeatures_items_item_img
          = image_tag 'icon-04.png', size: "219x337", class:"img"
        %h3.home-main_topKeyFeatures_items_item_img_subtitle
          様々な支払いに対応
        %p.home-main_topKeyFeatures_items_item_img_detail
          お支払いは、クレジットカードだけでなく、、ポイントや売上金など多彩な方法があります。
  .home-main_pickupContainer
    .home-main_pickupContainer_content
      %h2.home-main_pickupContainer_head
        ピックアップカテゴリー
      .index__main__pickupContainer__headbottom
        新規投稿商品
    .index__main__pickupContainer__lists
      .index__main__pickupContainer__lists__list__itemlink
        - @items.last(3).reverse.each do |item|
          .index__main__pickupContainer__lists__list__itemlink__items
            = link_to item_path(item.id), class: "index__header__inner__nav__listsLeft__left-btn" do
              .index__main__pickupContainer__lists__list__itemlink__items__images
                - item.item_images.first(1).each do |image|
                  =image_tag image.image_url.to_s,class: "index__main__item__image"
              .index__main__pickupContainer__lists__list__itemlink_a
                .index__main__pickupContainer__lists__list__itemlink__name
                  商品名
                  #do.index__main__pickupContainer__lists__list__itemlink__name__name-name
                    = item.name
                .index__main__pickupContainer__lists__list__itemlink__price
                  商品の価格:
                  .index__main__pickupContainer__lists__list__itemlink__price__price-price
                    = item.price
                    %p.index__main__pickupContainer__lists__list__itemlink__soldout
                -# -if product.purchaser_id.present? 
                -#   .items-box_photo__sold
                -#     .items-box_photo__sold__inner
                -#       SOLD
  .home-main_pickupContainer
    %h2.home-main_pickupContainer_head
      ピックアップブランド
    .home-main_pickupContainer_brand-new
      .home-main_pickupContainer_new_productHead
        =link_to "アーカイバ","#",class: "a"
      .home-main_pickupContainer_new_productLists
  .home-main_banner
    .home-main_banner_inner
      %h2.home-main_banner_inner_title
        だれでもかんたん、、人生を買えるフリマアプリ
      %p.home-main_banner_inner_text
        今すぐ無料ダウンロード！
      .home-main_banner_inner_icon
        %a.a= link_to image_tag("app-store.svg",:size => "180x53")
        %a.a= link_to image_tag("google-play.svg",:size => "180x53")
  = render "sell_footer"