.login-main
  .login-header
    = link_to image_tag("logo.png", :size => "185x50")
.sign-up-main
  .sign-up-main__container
    %h2.sign-up-main__container__title
      ログイン
    .sign-up-main__container__forms
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          .teams
            %h3.i-n-team
              メールアドレス
            %p.hissu
              必須
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-content'
        .form-group
          .teams
            %h3.i-n-team
              パスワード
            %p.hissu
              必須
          = f.password_field :password, autocomplete: "current-password", class: 'form-content'
        - if devise_mapping.rememberable?
          .form-group__content
            .form-group__content__box
              = f.check_box :remember_me, class: 'form-content__radio'
              = f.label :remember_me, 'ログイン情報を記憶', class: 'form-content__remember'
        .form-group.submit-content
          = f.submit "ログイン", class: 'form-submit'
.login_footer
  %ul.login_footer_contents
    %li.login_footer_contents_content_box_b
      =link_to "プライバシーポリシー","#",class: "a"
    %li.login_footer_contents_content_box_c
      =link_to "FURIMA利用規約","#",class: "a"
    %li.home-main_footer_contents_content_box_d
      =link_to "ポイントに関する特約","#",class: "a"
  .login_footer_logo
    = link_to image_tag("logo-white.png",:size => "160x46"),class:"img"
  %p.p＠FURIMA