.sell-container
  = render 'sell/sell_header'
  .sell-main
    = form_with class:'sell-main__form' do |f|
      .sell-main_img
        .sell-main_img_body
          .sell-main_img_Family
            .sell-main_img_Family_label 出品情報
            .sell-main_img_Family_span 必須
          .sell-main_img_Family_style-body 最大10枚までアップロードできます
          .sell-main_img_Family_img-upload
            .sell-main_img_Family_img-upload_hsmaqh
            .sell-main_img_Family_img-upload_hsmaqh_btn
              .sell-main_img_Family_img-upload_hsmaqh_btn_icon
            .sell-main_img_Family_img-upload_hsmaqh_btn_text 
              ドラックアンドドロップ 
              %rb
              またはクリックしてファイルをアップロード
          .sell-main_img_body_formerror 画像がありません
      .sell-main_text
        .sell-main_text_body
          .sell-main_text_body_Family
            .sell-main_text_body_Family_label 商品名
            .sell-main_text_body_Family_span 必須
          = f.text_field :name, { class:'sell-main_text_body_input-default', placeholder: '商品名（必須 40文字まで)' }
          .sell-main_text_body_formerror 入力してください
        .sell-main_text_style-body
          .sell-main_text_style-body_Family
            .sell-main_text_style-body_Family_label 商品の説明
            .sell-main_text_style-body_Family_span 必須
          = f.text_area :description, { class: 'sell-main_text_style-body_textarea', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', rows: '5' }
          .sell-main_text_style-body_formerror 入力してください
      .sell-main_categorie
        .sell-main_categorie_title 商品の詳細
        .sell-main_categorie_body
          .sell-main_categorie_body_Family
            .sell-main_categorie_body_Family_label カテゴリー
            .sell-main_categorie_body_Family_span 必須
          = f.collection_select :parent_id, @parent.all, :id, :name, prompt:"選択して下さい", class: "parent_category", name: "parent_box"
        .sell-main_categorie_body
          .sell-main_categorie_body_Family
            .sell-main_categorie_body_Family_label ブランド
            .sell-main_categorie_body_Family_span 任意
          = f.text_field :name, { class:'sell-main_text_body_input-default', placeholder: '例）シャネル' }
        .sell-main_categorie_body
          .sell-main_categorie_body_Family
            .sell-main_categorie_body_Family_label 商品の状態
            .sell-main_categorie_body_Family_span 必須
          = f.collection_select :product_id, @product.all, :id, :name, prompt:"選択して下さい", class: "parent_category", name: "parent_box"
      .sell-main_delivery
        .sell-main_delivery_title 配送について
      .sell-main_exhibition
  = render 'sell/sell_footer'