.sell-container
  = render 'sell/sell_header'
  .sell-main
    = form_with model: @item,html: {class:'sell-main__form'} do |f|
      .sell-main_img
        .sell-main_img_body
          .sell-main_img_Family
            .sell-main_img_Family_label 出品情報
            .sell-main_img_Family_span 必須
          .sell-main_img_Family_style-body 最大4枚までアップロードできます
          .sell-main_img_Family_img-upload
            .sell-main_img_Family_img-upload_items
              %icon_camera.png
              = f.fields_for :images do |i|
                = f.label :image, class: 'form__mask__image' do
                  = icon('fas', 'fas fa-camera', class: 'icon')
                  = f.file_field :image, class: 'hidden'
            .sell-main_img_Family_img-upload_hsmaqh
            .sell-main_img_Family_img-upload_hsmaqh_btn
              .sell-main_img_Family_img-upload_hsmaqh_btn_icon
            .sell-main_img_Family_img-upload_hsmaqh_btn_text 
          .sell-main_img_body_formerror
      .sell-main_text
        .sell-main_text_body
          .sell-main_text_body_Family
            .sell-main_text_body_Family_label 商品名
            .sell-main_text_body_Family_span 必須
          = f.text_field :name, { class:'sell-main_text_body_input-default', placeholder: '商品名（必須 40文字まで)' }
          .sell-main_text_body_formerror
        .sell-main_text_style-body
          .sell-main_text_style-body_Family
            .sell-main_text_style-body_Family_label 商品の説明
            .sell-main_text_style-body_Family_span 必須
          = f.text_area :description, { class: 'sell-main_text_style-body_textarea', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', rows: '5' }
          .sell-main_text_style-body_formerror
      .sell-main_categorie
        .sell-main_categorie_title 商品の詳細
        .sell-main_categorie_body
          .sell-main_categorie_body_Family
            .sell-main_categorie_body_Family_label カテゴリー
            .sell-main_categorie_body_Family_span 必須
          = f.collection_select :parent_id, @parent.all, :id, :name, prompt:"選択して下さい", class: "sell-main_categorie_body_select", name: "parent_box"
        .sell-main_categorie_body
          .sell-main_categorie_body_Family
            .sell-main_categorie_body_Family_label ブランド
            .sell-main_categorie_body_Family_span1s 任意
          = f.text_field :name, { class:'sell-main_text_body_input-default', placeholder: '例）シャネル' }
        .sell-main_categorie_body
          .sell-main_categorie_body_Family
            .sell-main_categorie_body_Family_label 商品の状態
            .sell-main_categorie_body_Family_span 必須
          = f.collection_select :product_id, @product.all, :id, :name, prompt:"選択して下さい", class: "parent_category", name: "parent_box"
      .sell-main_delivery
        .sell-main_delivery_title 配送について
        .sell-main_delivery_body
          .sell-main_delivery_body_Family
            .sell-main_delivery_body_Family_label 配送の負担
            .sell-main_delivery_body_Family_span 必須
          = f.select :postage_burden, [["送料込み(出品者負担)",0],["着払い(購入者負担)",1]],prompt:"選択して下さい", class: "parent_category", name: "parent_box"
        .sell-main_delivery_body
          .sell-main_delivery_body_Family
            .sell-main_delivery_body_Family_label 配送元の地域
            .sell-main_delivery_body_Family_span 必須
          = f.select :postage_burden, [["北海道",0],["青森県",1]], prompt:"選択して下さい", class: "parent_category", name: "parent_box"
          .sell-main_delivery_body_Family
            .sell-main_delivery_body_Family_label 配送までの日数
            .sell-main_delivery_body_Family_span 必須
          = f.collection_select :products_id, @products.all, :id, :name, prompt:"選択して下さい", class: "parent_category", name: "parent_box"
      .sell-main_exhibition
        .sell-main_exhibition_title 価格（¥300〜9,999,999)
        .sell-main_delivery_body
          .sell-main_delivery_body_Family
            .sell-main_delivery_body_Family_label 販売価格
            .sell-main_delivery_body_Family_span 必須
          .sell-main_delivery_body_Family_right
            ¥
            = f.text_field :price, id: "pricebox", placeholder: "例） 300" ,class: "parent_category"
      .sell-main_delivery_body_Family_left
        販売手数料 (10%)
        .handling_charge.l-right -
      .sell-main_delivery_body_Family_bold
        販売利益
        .profitFee.l-right -
      .sell-main_delivery_body_Family_btn
        .sell-main_delivery_body_Family_btn_a
          = f.submit "出品する",id: "btn", class: "a"
        .sell-main_delivery_body_Family_btn_b
          =link_to "下書きに保存", "#", class: "a"
        .sell-main_delivery_body_Family_btn_c
          =link_to "戻る", "#", class: "a"
        .sell-content.sell-btn-box
          %div
            %p
              %a{href: "", target: "_blank"} 禁止されている出品
              、
              %a{href: "", target: "_blank"} 行為
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              %a{href: "", target: "_blank"} 偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              %a{href: ""} 加盟店規約
              に同意したことになります。
  = render 'sell/sell_footer'