.item-header
  =render "sell/sell_header"
.item-root
  %ul.list
    %li.nav
      = link_to "FURIMA >","#",class:"a"
    %li.nav
      = link_to "メンズ >","#",class:"a"
    %li.nav
      = link_to "ジャケット >","#",class:"a"
    %li.nav
      = link_to "ノーカラージャケット >","#",class:"a"
    %li.nav
      = link_to "product2","#",class:"a"
.item-main
  .item-show
    .content
      .item-box
        .name
          = @item.name
        .body
          %ul.listbox
            - @item.item_images.first(1).each do |image|
              =image_tag image.image_url.to_s,class: "index__main__item__image"
          .lists
            %li.list1
              - @item.item_images.each do |image|
                =image_tag image.image_url.to_s,class: "index__main__item__image"
        .pricebox
          .price
            ¥
            = @item.price
          .tax (税込み)送料込み
        .deta
          .name
            = @item.text
        .table
          -if user_signed_in?
            -if @item.user_id == current_user.id
              .index__main__item__content-item
                = link_to edit_item_path(@item) ,class:"index__main__item__content__option2" do
                  .index__main__item__content__option__edit 商品の編集ページへ
                = link_to "削除する", item_path(@item), method: :delete, class: "index__main__item__content__option"
          .tbody
            .tr
              .th 出品者
              .td
                = @item.user.nickname
            .tr
              .th カテゴリー
              .td
                -if @Grandparent.has_parent?
                -else
                  =link_to "#",class:"index__main__item__content__table__table__tbody__tr__td__a" do
                    =@children.parent.name
                -if @category.has_parent?
                  =link_to "#",class:"index__main__item__content__table__table__tbody__tr__td__a" do
                    =@category.parent.name
                -if @category.has_parent?
                  =link_to "#",class:"index__main__item__content__table__table__tbody__tr__td__a" do
                    =@category.name
            .tr
              .th ブランド
              .td 
                = @item.brand
            .tr
              .th 商品のサイズ
              .td 
            .tr
              .th 商品の状態
              .td 
                = @item.condition
            .tr
              .th 配送料の負担
              .td
                = @item.trading_status
            .tr
              .th 発送元の地域
              .td 
                = @item.delivery_area
            .tr
              .th 発送の目安
              .td
                = @item.delivery_days
        .op
          -if user_signed_in?
            -if @item.user_id == current_user.id
            -else
              .index__main__item__content__commentarea__form__submit__link-Purchase
                = link_to purchase_index_path(@item), class: "main-Purchase-btn" do
                  = "購入する"
    .comebox
      .text
      .come 相手のことを考え丁寧なコメントを心がけましょう。
      .btn コメントする
.home-main_banner
  .home-main_banner_inner
    %h2.home-main_banner_inner_title
      だれでもかんたん、、人生を買えるフリマアプリ
    %p.home-main_banner_inner_text
      今すぐ無料ダウンロード！
    .home-main_banner_inner_icon
      %a.a= link_to image_tag("app-store.svg",:size => "180x53")
      %a.a= link_to image_tag("google-play.svg",:size => "180x53")
.item-footer
  =render "sell/sell_footer"